.friends {
  background-color: rgb(49, 51, 56);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .categories {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(56, 58, 64);
    margin-bottom: 1vmin;

    .option {
      padding: 2vmin;
      margin: 1.5vmin;
      font-size: 0.9rem;
      font-weight: 600;
      background: transparent;
      color: rgb(213, 213, 213);
      cursor: pointer;
      border-radius: 1.5vmin;
      border: none;
      outline: none;

      &:hover {
        background-color: rgb(49, 51, 56);
      }
    }

    .add {
      background-color: rgb(65, 113, 255);

      &:hover {
        background-color: rgb(65, 113, 255);
      }

      &:active {
        background-color: rgb(92, 132, 255);
      }
    }
  }

  .inputBar {
    border-radius: 3vmin;
    margin: 1vmin;
    padding: 1vmin;
    background-color: rgba(17, 25, 40, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      background-color: transparent;
      border: none;
      outline: none;
      color: rgb(213, 213, 213);
      width: 100%;
      height: 5vmin;
      margin-left: 1.4vmin;
    }

    .searchBtn {
      background: transparent;
      color: rgb(129, 133, 138);
      border: none;
      margin: 0 1.4vmin;
      cursor: pointer;
    }

    .clearBtn {
      background: transparent;
      color: rgb(129, 133, 138);
      border: none;
      border-radius: 1.1vmin;
      cursor: pointer;
      margin: 0 1.4vmin;
    }

    .clearBtn:hover {
      color: rgb(183, 188, 194);
    }

    svg {
      width: 3vmin;
      height: 3vmin;
    }
  }

  .searchToAddAndPending {
    display: flex;

    .searchToAddAndPendingBtn {
      background-color: rgb(56, 58, 64);
      color: rgb(213, 213, 213);
      font-size: 1.1rem;
      margin: 1vmin 0 1vmin 1vmin;
      padding: 1vmin 1vmin 1vmin 2vmin;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 3vmin;
      cursor: pointer;

      &:hover {
        background-color: rgb(79, 81, 85);
      }

      svg {
        margin: 1vmin;
      }
    }
  }
}
