.chat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;

  .chatWrapper {
    height: 100%;
    width: 100%;
    overflow: auto;

    .noRoomSelected {
      height: 100%;
      width: 100%;
      background-color: rgb(49, 51, 56);
      color: rgb(141, 141, 141);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 600;
    }

    .topArea {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 10%;
      background-color: rgb(56, 58, 64);
      border: none;

      .roomInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;

        .roomProfilePicture {
          height: 5vmin;
          aspect-ratio: 1;
          border: 0.25vmin solid rgb(130, 130, 130);
          border-radius: 50%;
          object-fit: cover;
          margin: 0 2vmin;
        }

        .roomName {
          color: rgb(213, 213, 213);
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      .roomOptions {
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
          background-color: rgb(49, 51, 56);
          color: rgb(180, 185, 192);
          height: 5vmin;
          min-width: 14vmin;
          max-width: fit-content;
          border: none;
          border-radius: 1.1vmin;
          cursor: pointer;
          font-weight: 600;
          margin: 0 2vmin;
          padding: 0 1vmin;
        }

        .btn:hover {
          color: rgb(219, 224, 231);
          background-color: rgb(120, 122, 128);
        }
      }
    }

    .container {
      width: 100%;
      height: 80%;
      border: none;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: rgb(49, 51, 56);

      .messageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .messageBox {
          display: flex;
          align-items: flex-start;
          position: relative;

          .messageWrapper {
            display: flex;
            flex-direction: column;

            span {
              font-size: 0.8rem;
              color: rgb(153, 157, 162);
              margin: 2vmin 0 1vmin 0;
            }
          }
        }
      }

      .message {
        background: rgb(36, 37, 40);
        color: rgb(213, 213, 213);
        width: fit-content;
        max-width: 43vw;
        overflow-wrap: break-word;
        padding: 1.3vmin;
        margin: 0 0 1vmin 0;
        border-radius: 1.5vmin;
        font-size: 1.05rem;
      }

      .left {
        background-color: rgb(27, 28, 30);
      }

      .right {
        background-color: rgb(55, 132, 255);
      }

      .center {
        display: block;
        color: rgb(177, 181, 187);
        background: none;
        font-size: 0.9rem;
        text-align: center;
        min-width: 100%;
        margin: 0;
        padding: 1.3vmin 0;
      }
    }

    .send {
      background-color: rgb(56, 58, 64);
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;

      .messageInput {
        background-color: rgb(56, 58, 64);
        width: 96%;
        height: 100%;
        border-radius: 2.2vmin;
        border: none;
        outline: none;
        padding: 0 2%;
        color: rgb(213, 213, 213);
      }

      .btn {
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: rgb(180, 185, 192);
        height: 5vmin;
        aspect-ratio: 1;
        margin: 0 2vmin;
      }

      .btn:hover {
        color: rgb(140, 144, 150);
      }
    }
  }
}
