.newMsgPfp {
  position: sticky;
  top: 1vmin;
  width: 5vmin;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 5.5vmin 1vmin 1vmin 1vmin;
  border: 0.15vmin solid rgb(130, 130, 130);
  cursor: pointer;
}
