.inbox {
  display: flex;
  width: 100%;

  .dmList {
    display: flex;
    flex-direction: column;
    min-width: 35vmin;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: rgb(49, 51, 56);
    color: rgb(213, 213, 213);
    border-right: 0.3vmin solid rgb(40, 40, 40);

    .topHeader {
      text-align: center;
      margin: 1.5vmin 0 1vmin 0;

      span {
        color: rgb(180, 185, 192);
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    .line {
      width: 90%;
      height: 0.1vmin;
      background-color: rgb(130, 130, 130);
      margin: 1.5vmin auto;
    }

    .btnWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 1.5vmin;

      .btn {
        height: 9vmin;
        width: 80%;
        background: transparent;
        color: rgb(213, 213, 213);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        border-radius: 1.5vmin;
        cursor: pointer;

        svg {
          width: 3vmin;
          aspect-ratio: 1;
          margin-left: 1.4vmin;
        }
      }

      .btn:hover {
        background-color: rgb(56, 58, 64);
      }
    }

    .inputBar {
      width: 100%;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: rgb(213, 213, 213);
        width: 100%;
        height: 7vmin;
        margin-left: 1.4vmin;
      }

      .searchBtn {
        background: transparent;
        color: rgb(129, 133, 138);
        border: none;
        margin: 0 1.4vmin;
      }

      .clearBtn {
        background: transparent;
        color: rgb(129, 133, 138);
        border: none;
        border-radius: 1.1vmin;
        cursor: pointer;
        margin: 0 1.4vmin;
      }

      .clearBtn:hover {
        color: rgb(183, 188, 194);
      }

      svg {
        width: 3vmin;
        height: 3vmin;
      }
    }
  }
}
